<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM APP Test suites">
  <test name="Free CRM App test cases">
  <classes>
 <class name = "com.crm.qa.testcases.LoginPageTest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
